body{
    /* border: 1px solid black;
    box-sizing: border-box; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 217, 217);
    color: white;
}

.container{
    width: 1280px;
    margin: 0 auto;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

/*------------Header (Шапка)------------*/
.page-header{
    padding: 50px;
    background-color: #445162;
    /* min-height: 323px; */

    /* border: 1px solid black; */
    /* box-sizing: border-box; */
}

.page-header::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;

    /* border: 1px solid black;
    box-sizing: border-box; */
} 

.page-header-wrap{
    float: left;
    width: 650px;

    /* *тут есть задумка: .img поднять выше .wrap в HTML, и у .img сделать golat:right. 
    *тогда можно избавиться в этом блоке от ширины и float: right */

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.page-header-title{
    display: block;
    font-size: 60px;
    margin: 0 0 40px 0;
    line-height: 45px;
    /* ?скорее всего это лишнее, не знаю как иначе прижать текст к границе родителя */
    /* !изначально задал H1 потом изменил на span и изменил размер */

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.page-header-list{
    margin: 0;
    padding: 0 0 0 37px;
    list-style: none;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.page-header-list-item{
    position: relative;
    font-size: 20px;
    margin-bottom: 12px;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.page-header-list-item::before{
    content: "";
    display: block;
    position: absolute;
    left: -37px;

    width: 25px;
    height: 19px;
    /* background-color: #fff;
    border: 1px solid black; */

    background-image: url("../img/check_icon.png");
    background-repeat: no-repeat;
}

.page-header-list-item:nth-last-of-type(1) {
    margin: 0;
}
/* !до конца не пойму верно ли задумал идею убрать лишний внешний отступ таким образом */

.page-header-img{
    float: right;
    display: block;
    /* width: 469px;
    height: 214px; */
    background-color: white;
    color: black;

    /* border: 1px solid black;
    box-sizing: border-box; */
}


/*------------Main (Основной раздел)------------*/
.main{
    color:#333333;

}


/*------------Section (О товаре)------------*/
.main-about{
    padding: 50px;
    background-color: white;
    
    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-about::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
} 

.main-about-wrap{
    float: left;
    width: 650px;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-about-title{
    display: block;
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-about-content{
    font-size: 16px;
    text-align: justify;
    margin: 0 0 16px 0;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-about-video{
    float: right;
    /* width: 430px;
    height: 245px; */
    background-color: #445161;
}


/*------------Section (Плюсы И достоинства)------------*/
.main-dignity{
    padding: 50px;
    background-color: #f5f5f5;
}

.main-dignity::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
} 

.main-dignity-title{
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;

    display: block;
    text-align: center;
}

.main-dignity-content-left{
    width: 567px;
    float: left;

    /* border: 1px solid red;
    box-sizing: border-box; */
}

.main-dignity-content-right{
    width: 567px;
    float: right;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-dignity-content-item{
    position: relative;
    margin: 0 0 30px 0;
}

.main-dignity-content-item:nth-last-of-type(1) {
    margin: 0;
}

.main-dignity-content-item-sum{
    padding: 0 0 0 50px;
    font-weight: bold;
    outline: none;
}

.main-dignity-content-item-sum::-webkit-details-marker {
    display: none;
}

.main-dignity-content-item-sum::after {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    
    width: 32px;
    height: 32px;
    background-image: url("../img/plus_icon.png");
    background-repeat: no-repeat;

    /* background: #445161; */
    /* content: "+"; */
    /* color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 32px; */
}

details[open] .main-dignity-content-item-sum::after{
    background-image: url("../img/minus_icon.png");
    background-repeat: no-repeat;
        
    /* content: "-"; */
}

.main-dignity-content-item-p{
    padding-left: 50px;
}


/*------------Section (Скриншоты)------------*/
.main-screen{
    padding: 50px;
    background-color: white;
}

.main-screen::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
} 

.main-screen-title{
    margin: 0 0 35px 0;
    color: #445161;
    font-size: 30px;

    display: block;
    text-align: center;
}

.main-screen-wrap{
    font-size: 0;
}

.main-screen-item{
    margin: 0 15px 30px 0;
    height: 150px;
    width: 575px;

    display: inline-block;

    font-size: 16px;

    /* border: 1px solid black;
    box-sizing: border-box; */
}


.main-screen-item:nth-last-of-type(1) {
    margin: 0 15px 0 0;
}

.main-screen-item:nth-last-of-type(2) {
    margin: 0 15px 0 0;
}

.main-screen-item-img{
    float: left;
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    color: white;
    margin: 0 15px 0 0;

    /* border: 1px solid black;
    box-sizing: border-box; */
}

.main-screen-item-desc{
    
}

.main-screen-item-desc-title{
    margin: 0 0 16px 0;
    color: #445161;
    font-size: 24px;
    display: block;

    line-height: 15px;
}

.main-screen-item-desc-p{
    margin: 0px;
    /* -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; */
    line-height: 24px;
}